.maps {
    width: 85%;
    height: 50%;
    text-align: center;
    line-height: 200px;
    position: absolute;
    top: 295%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inframe-maps {
    width: 100%;
    /* Ajusta a largura da iframe para 100% da div */
    height: 100%;
    /* Ajusta a altura da iframe para 100% da div */
}