.segunda_lista {
    margin-top: 1%;
}

.div-imgs:hover {
    box-shadow: -13px 7px var(--cor-sombra);
}

.hr {
    width: 50%;
    margin: 31px 0px -31px 0px;
    display: flex;
}

.hr-segundo {
    width: 20px;
    margin: 31px 0px -25px 50%;
    transform: rotate(116deg);
}

.hr-terceiro {
    width: 20px;
    margin: 23px 0px -32px 51%;
    transform: rotate(116deg);
}

.hr-ultimo {
    width: 47%;
    margin: 28px 0px -12px 53%;
}

.vedalit {
    margin-top: 36%;
}

.location-hr {
    width: 38%;
    margin: 0 0 -32px 0px;
}

.contact-hr {  
    width: 38%;
    margin: -36px 0px -28px 62%;
}

#location-border {
    margin-top: 16px;
    border: 1px solid #CCC;
    border-radius: 0 0 22px 22px;
    border-top: 25px solid rgba(0, 0, 0, .01);
}

.location-div img {
    border-radius: 50px;
    width: 20%;
    margin: 2px 0 50px 0;
}

#location-border p {
    text-align: center;
}

.location-div {
    display: flex;
    justify-content: space-evenly;
}

.p-img {
    height: 18px;
    width: 18px;
    background: #fff;
    border: 1px solid #dadce0;
    box-shadow: none;
    border-radius: 36px;
    box-sizing: border-box;
    cursor: inherit;
    position: relative;
    margin: 33px 0px -33px 47%;
}

.pp-img {
    height: 18px;
    width: 18px;
    background: #fff;
    border: 1px solid #dadce0;
    box-shadow: none;
    border-radius: 36px;
    box-sizing: border-box;
    cursor: inherit;
    position: relative;
    margin: 0px 35px -2px 8px;
}

.a-div {
    margin: 15px 0 0 12px;
}