        @charset "UTF-8";
        @import url(div_lista.css);
        @import url(links-maps.css);
        @import url(config-cell.css);
         :root {
            --cor-sombra: rgba(15, 86, 145, 0.45);
            --cor-body:#b3c6de21;
            --cor-text:#030303;
        }
        
        body {
            font-family: 'Comfortaa', cursive;
            background: var(--cor-body);
        }
        
        .cabecalho {
            background: lightsteelblue;
            width: 97%;
            height: 115px;
            margin-top: -27px;
            margin-left: 21px;
            border-radius: 0px 0px 86px 86px;
        }
        
        .cabecalaho__titulo {
            text-align: center;
            padding-top: 45px;
        }
        
        .cabecalaho__titulo:hover {
            color: rgb(255, 255, 255);
        }
        
        .div-imgs {
            background: #ffffff;
        }
        
        .imagem-div {
            display: flex;
            justify-content: space-between;
            margin-right: 21px;
            margin-left: 21px;
        }
        
        .imagem-div div {
            width: 30%;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 20px;
            box-sizing: border-box;
            text-align: center;
            transition: transform 0.3s;
            position: relative;
            overflow: hidden;
        }
        
        .imagem-div div:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.05);
            opacity: 0;
            transition: opacity 0.3s;
        }
        
        .imagem-div div:hover:before {
            opacity: 1;
        }
        
        .imagem-div div:hover {
            transform: scale(1.05);
        }
        
        .imagem-div img {
            width: 50%;
            height: auto;
            border-radius: 10px;
            object-fit: cover;
        }
        
        .imagem-div .texto_imgs {
            color: #46526d;
            margin-top: 10px;
            font-size: 16px;
            font-weight: bold;
        }
        
        .votomassa_txt {
            margin-top: 77px;
        }
        
        .texto_imgs {
            opacity: 0;
            transition: opacity 1.3s;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            color: #fff;
            padding: 10px;
            box-sizing: border-box;
            font-weight: bold;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        
        #texto_imgs_baixo {
            opacity: 1;
            transition: opacity 0.3s;
        }
        
        .imagem-div div:hover #texto_imgs_baixo {
            opacity: 0;
        }
        
        .imagem-div div:hover .texto_imgs {
            opacity: 1;
        }
        
        .texto_imgs {
            opacity: 0;
            transition: opacity 0.3s;
        }
        
        .imagem-div div:hover #texto_imgs {
            opacity: 1;
        }
        
        .txt-votomassa {
            margin-top: 50px;
        }
        
        .img_votomassa {
            margin-top: 35px;
        }
        
        .centro_txt {
            text-align: center;
        }
        
        .h2_sobre {
            text-align: center;
            margin-top: 50px;
        }
        
        .descrição {
            color: #333;
            font-size: 17px;
            font-family: Arial, sans-serif;
            font-weight: bolder;
            font-style: italic;
            text-align: -webkit-center;
            margin: 0 0 46px 0;
        }

        @media (max-width: 740px) {

            #texto_imgs_baixo{
            font-size: 14px;
        }
          
          .cell-carbono {
          margin-left: -18px;
          font-size: 14px;
        }
          
          .cabecalho {
            background: lightsteelblue;
            width: 97%;
            height: 115px;
            margin-top: -27px;
            margin-left: 3px;
            border-radius: 0px 0px 86px 86px;
        }
        
        .imagem-div img {
          width: 117%;
          height: auto;
          border-radius: 10px;
          object-fit: cover;
        }
        }
        